/*
:root {
    --alpine-goat: #F48120; color
    --sodalite-blue: #35A0B1; Parent bg
    --steely-grey: #0C2427; bg
    --bone: #AF7BAF; border
} */

@keyframes glider {
        0% {
            opacity: 0.5;
            transform: scale(0.5);
        }
        50% {
            opacity: 1;
            transform: scale(0.9);
        }
        100% {
            opacity: 0.5;
            transform: scale(0.5);
        }
    }

@keyframes rotation {
    from {
        transform: rotate(0turn);
        /*transform: scale(0.5);*/
    }

    50% {
        transform: rotate(0.5turn);
        /*transform: scale(1);*/
    }

    to {
        transform: rotate(1turn);
        /*transform: scale(0.5);*/
    }
}
@font-face {
        font-family: 'Carter_One';
        src: url('../fonts/Carter_One/CarterOne-Regular.ttf') format('truetype');
}
@font-face {
        font-family: 'Gochi_Hand';
        src: url('../fonts/Gochi_Hand/GochiHand-Regular.ttf') format('truetype');
}

html {
    font-size: 16px;
    background-color: #35A0B1;
}
/*--------------header-------------------*/
header {
    position: fixed;
    right: 5%;
    top: 0;
    margin: 10px auto 30px auto;
    width: 90%;
    height: 100px;
    background-color:#0C2427;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
}

a {
    display: block;
    text-decoration: none;
}

.icon {
    margin-left: 20px;
    margin-right: 20px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    width: 60px;
    height: 60px;
    animation-name: glider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.email {
    width: 60px;
    height: 60px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.icon p {
    font-family: Carter_One;
    font-size: 2rem;
    color: #F48120;
    cursor: pointer;
}

/*------------------------main-----------------------------*/
/*----------------------about--------------------------*/
.about {
    margin: 130px auto 0px auto;
    width: 90%;
    height: 360px;
    background-color:#0C2427;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 30px 0;
}

.desc {
    grid-area: 4 / 1 / span 3 / span 1;
    font-family: Gochi_Hand;
    color: #F48120;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.desc h1 {
    width: 90%;
    font-size: 2rem;
    line-height: 2;
    text-align: center;
}

.desc h3 {
    width: 90%;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
}

.about figure {
    grid-area: 1 / 1 / span 2 / span 1;
    position: relative;
    /*width: 500px;
    height: 500px;*/
    background-image: url(../images/programmer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 100%;
    display: flex;
    justify-content: center;
    transition-property: all;
    transition-duration: 500ms;
}

figure.glasses {
    display: inherit;
    opacity: 0;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 20%;
    background-image: url(../images/glasses.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition-property: all;
    transition-duration: 100ms;
    transition-delay: 0s;
}

figure.bomb {
    display: inherit;
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    background-image: url(../images/bomb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0s;
}
.button_area {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F48120;
    border: 2px solid white;
    color: #0C2427;
    font-family: Carter_One;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #F8C296;
}

.button:active {
    border-color: #0C2427;
}

.button:disabled {
    color: rgb(180, 170, 170);
    background-color: #F8C296;
    border-color: #0C2427;
}

/*-----------------------Portfolio--------------------------------------------*/
#portfolio {
    width: 90%;
    margin: 30px auto 0px auto;
    background-color:#0C2427;
    padding-bottom: 50px;
}

#portfolio h1 {
    padding-top: 20px;
    font-family: Carter_One;
    font-size: 3rem;
    color: #F48120;
    text-align: center;
}

#portfolio-figures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#portfolio-figures a {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    
}

figure.portfolio {
    position: relative;
    width: 700px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    padding: 50px 10px;
    opacity: 0.6;
    transition-property: all;
    transition-duration: 200ms;
    cursor: pointer;
}

figure.portfolio:hover {
    opacity: 1;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.portfolio-desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Gochi_Hand';
    font-size: 2rem;
    color: #F48120;
    background-color: #0C2427;
}

.reddit-client {
    background-image: url(../images/portfolio/redditClient.png);
}

.fotomatic {
    background-image: url(../images/portfolio/fotomatic.png);
}

.tea-cozy {
    background-image: url(../images/portfolio/teaCozy.png);
}

.company {
    background-image: url(../images/portfolio/companyWebsite.png);
}

.club {
    background-image: url(../images/portfolio/clubWebsite.png);
}

/*--------------------------Footer----------------------*/
footer {
    width: 90%;
    margin: 30px auto 0px auto;
    font-family: Carter_One;
    font-size: 1.2rem;
    color: #0C2427;
    background-color:  #F48120;
    line-height: 2;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p:hover {
    transform: translate(10px);
}

@media only screen and (min-width: 900px){
.icon p {
    font-size: 3rem;
}
.github {
    width: 80px;
    height: 80px;
}

.email {
    width: 80px;
    height: 80px;
}

.about {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
}

.desc {
    grid-area: 1 / 1 / span 3 / span 1;
    justify-content: flex-start;
}

.about figure {
   grid-area: 1 / 2 / span 2 / span 1;
}

figure.bomb {
    width: 100px;
    height: 100px;
}

figure.glasses {
    width: 100px;
    height: 50px;
}

.button_area {
    grid-area: 3 / 2 / span 1 / span 1;
}

.button {
    width: 200px;
    height: 50px;
}

.desc h1 {
    font-size: 3rem;
    text-align: left;
}

.desc h3 {
    font-size: 2rem;
    text-align: left;
}

footer {
    font-size: 2rem;
}
}